body {
  font-family: sans;
  color: #555;
}

* {
  box-sizing: border-box;
}

image-preview-header {
  align-items: center;
  padding: 0 20px;
  display: flex;
  height: 80px;
}

image-preview-header h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;

  margin: 0;
  margin-bottom: 10px;
}

image-preview-header p {
  font-size: 14px;
  line-height: 1;
  opacity: 0.75;
  margin: 0;
}

image-preview-header div {
  margin-right: auto;
}

image-preview-info {
  border-top: 1px solid #DDD;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  display: block;
  height: 50px;
}

image-preview-content {
  height: calc(100vh - 130px);
  border-top: 1px solid #DDD;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  display: flex;

  background-image: linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD),
                    linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

image-preview-content span {
  font-weight: 600;
  font-size: 40px;
}

image-preview-content img {
  max-height: calc(100% - 50px);
  max-width: calc(100% - 50px);
}

image-preview:not(.has-image) image-preview-info {
  display: none;
}

image-preview:not(.has-image) image-preview-content {
  height: calc(100vh - 80px);
}
