@import 'ui';

body {
  padding: 20px;
}

.my-dropdown {
  display: inline-block;
  position: relative;

  span {
    display: inline-block;
    background: $input;
    line-height: 50px;
    border: $border;
    padding: 0 20px;
  }

  ui-dropdown {
    padding: 20px;
    width: 200px;
  }
}
