@import 'ui/ui';

ui-breadcrumbs {
  border-bottom: 1px solid rgba(#000, 0.075);
  background: linear-gradient($secondary, dampen($secondary, 2%));
  padding: 15px;

  ui-breadcrumb {
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: $focus;
    }

    + :not(ui-breadcrumb) {
      margin: 0 7px;
    }
  }
}

video-library-item {
  @include colors($input);

  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
  border-radius: $border-radius;
  margin-bottom: 20px;
  margin-right: 20px;

  video-library-item-image {
    background-color: $secondary;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 135%;
    display: block;
    border-radius: $border-radius $border-radius 0 0;
  }

  &:hover {
    cursor: pointer;

    > div {
      @include colors($primary);
    }

    &.video video-library-item-image {
      filter: saturate(0);

      &:before {
        content: "\f215";
        font-family: Ionicons;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 60px;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, 0.6);
      }
    }
  }

  div {
    border-radius: 0 0 $border-radius $border-radius;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
  }

  @each $breakpoint, $num in (
        2000px 6,
        1600px 5,
        1200px 4,
        800px 2) {
    @media (min-width: #{$breakpoint - 400px} )
       and (max-width: #{$breakpoint - 1px}) {
      width: calc((100% / #{$num}) - #{($num - 1) * 20px / $num});

      &:nth-child(#{$num}n) {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 400px) {
    margin-right: 0;
    width: 100%;
  }
}

video-library {
  height: 100vh;
  width: 100vw;

  > ui-container {
    height: 100vh;
  }

  ui-breadcrumbs, ui-header {
    padding-left: 30px;
  }

  ui-header-title:first-child {
    padding-left: 0;
  }
}

video-library-video {
  justify-content: center;
  flex-direction:  column;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  padding: 30px;

  ui-container {
    color: #DDD;
    padding-bottom: 30px;
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid rgba(#FFF, 0.15);

    strong {
      flex: 1;
    }
  }

  video {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
  }
}

video-library-folder {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;

  overflow: auto;
}
